<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p align="center">Recruitment Task Project #2</p>
<p align="center">-----------------------------------------------</p>
<p align="center">Created by Mateusz Duber &nbsp; | &nbsp; Powered by Terraform &amp; AWS</p>
